.contentEs {
  height: 700px;
}
.content__publicity {
  display: flex;
}
.content__container {
  background-color: #b8bcbd;
  width: 100%;
  height: 616px;
  background-image: url("../img/BARRAS.svg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content__img {
  background-image: url("../img/zapatillas.png");
  background-size: cover;
  width: 100%;
  height: 616px;
}

.content__btn {
  background-color: white;
  width: 250px;
  height: 80px;
  margin: 450px 250px;
  border-radius: 20px;
}

.content__title {
  text-align: center;
  font-size: 45px;
  margin-bottom: 50px;
}

.content__button {
  width: 140px;
  height: 50px;
  border-radius: 14px;
  background-color: #e5e5e5;
  border: none;
}

.content__article {
  display: flex;
  width: 100%;
  height: 180px;
  justify-content: space-evenly;
  align-items: center;
}

.content__articleproducts {
  width: 330px;
  height: 120px;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
}

.content__articleproductsinfo {
  width: 55%;
}

.content__texttitle {
  font-size: 12px;
  padding: 10px 20px;
  text-align: initial;
}

.content__textinfo {
  font-size: 11px;
  padding: 0px 20px;
  text-align: initial;
  line-height: 30px;
}

.content__articleproductimage {
  width: 45%;
  height: 100%;
  background-image: url("../img/zapatillas.png");
  background-size: cover;
  border-radius: 0px 10px 10px 0px;
}

.content__feature{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 150px;
}

.content__containerFeature{
  width: 1100px;
  height: 500px;  
  background-color: white;
  border-radius: 10px;
}

.content__gallery{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 150px;
}

.content__imgGallery{
  width: 1100px;
  height: 600px;  
  background-color: white;
  border-radius: 10px;
  display: flex;
  
}

.content__imgGalleryitemcol1{
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.content__imgGalleryitemcol2{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}


.imgGallery--1{
  border-radius: 10px 0 0 0;
 
}

.imgGallery--2{
  height: 60%;

}

.imgGallery--3{
height: 100%;
border-radius: 0 0 0 10px;
}

.imgGallery--4{
height: 40%;
}

.imgGallery--5{
  height: 100%;
  width: 100%;
  border-radius: 0 10px 10px 0;
}

.content__specification{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 150px;
}

.content__specificInfo{
  width: 1100px;
  height: 500px;  
  background-color: white;
  border-radius: 10px;
}
.content__interaction{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 150px;
}

.content__containerInteraction{
  width: 1100px;
  height: 500px;  
  background-color: white;
  border-radius: 10px;
}

.content__video{
  display: flex;
  width: 100%;
  height: 700px;
  justify-content: center;
  margin-top: 150px;
}

.content__containerVideo{
  width: 1100px;
  height: 500px;  
  background-color: white;
  border-radius: 10px;
  position: relative;
}


.containerVideo__trailer{
width: 1100px;
  border-radius: 10px;
  
}

.containerVideo__trailerText{
  position: absolute;
  right: 0px;
  bottom: 5%;
  width: 400px;
  height: 85px;
  padding: 20px;
  text-align: center;
  border-radius: 10px 0 0 10px;
  background-color: white;
}


.containertVideo__input{
  position: absolute;
  right: 0px;
margin-top: 45%;
  width: 400px;
  height: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 10px 0 0 10px;
  background-color: white;
}







